body {
  font-family: "Ubuntu";
  background-color: #212221;
  color: white;
  user-select: none;
  scroll-behavior: smooth;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #121312;
  border-radius: 2rem;
  gap: 2rem;
  box-shadow: 0px 0px 5px 0px black;
}
.profile-container h1 {
  font-weight: bolder;
  text-align: center;
}
.profile-header img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
.profile-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.profile-footer a,
.profile-footer button {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  color: goldenrod;
  transition: 0.2s;
}
.profile-footer a:hover {
  opacity: 70%;
  scale: 0.9;
}
.more {
  display: flex;
  padding: 2rem 5rem;
  color: goldenrod;
  background-color: #121312;
  border: none;
  border-radius: 2rem;
  margin-bottom: 3rem;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}
.more:hover {
  opacity: 70%;
  scale: 0.9;
}
.downcontent {
  display: none;
  word-break: normal;
  width: 100%;
  max-width: fit-content;
  margin: auto;
  transition: 2s;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: fit-content;
  gap: 2rem;
}
li {
  border-radius: 2rem;
  background-color: #121312;
  padding: 1rem 3rem;
  display: flex;
  width: 3rem;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
li a {
  text-decoration: none;
  color: goldenrod;
}
li:hover {
  opacity: 70%;
  scale: 0.9;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
